@charset "utf-8";
@import url('reset.css');
@import url('https://fonts.googleapis.com/css2?family=Caladea:ital,wght@0,400;0,700;1,400;1,700&family=Cormorant:ital,wght@0,300..700;1,300..700&family=Great+Vibes&family=Homemade+Apple&family=Life+Savers:wght@400;700;800&display=swap');

@font-face {
    font-family: 'GangwonEducationModuche';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEdu_OTFLightA.woff') format('woff');
    font-weight: 300;
    font-display: swap;
}

@font-face {
    font-family: 'GangwonEducationModuche';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEdu_OTFBoldA.woff') format('woff');
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: "writingSnippetFont";
    src: url('https://assets.codepen.io/1633505/Novecentosanswide-Light.otf');
}

:root {
    --font-kr: 'GangwonEducationModuche';
    --font-cor: "Cormorant", serif;
    --font-life: "Life Savers", serif;
    --font-cal: "Caladea", serif;
    --font-great: "Great Vibes", cursive;
    --font-apple: "Homemade Apple", cursive;

    --color-main: #2c2d66;
    --color-subR: #A73F40;
    --color-subG: #7c7719;
    --color-bg: #F6F5F3;
}

html {
    font-size: 62.5%;  /* 1rem = 10px */
}


body {
    min-width: 1600px;
    background-color: var(--color-bg);
    color: var(--color-main);
}

/* ################ 헤더 ################ */
nav {
    display: flex;
    flex-wrap: wrap;
    position: fixed;
    z-index: 999;
    position: fixed;
    top: 0;
    right: 100px;
}

text {
    fill: var(--color-main);
    font-family: "Life Savers", serif;
    font-weight: 800;
    font-style: normal;
    font-size: 2.8rem;
}

path {
    stroke: var(--color-subG);
    stroke-width: 4px;
    fill: none;
    stroke-linecap: round;
}

@media (max-width: 1100px) {
    nav {
        flex-direction: column;
    }
}