@charset "utf-8";
@import url('reset.css');
@import url('https://fonts.googleapis.com/css2?family=Caladea:ital,wght@0,400;0,700;1,400;1,700&family=Cormorant:ital,wght@0,300..700;1,300..700&family=Great+Vibes&family=Homemade+Apple&family=Life+Savers:wght@400;700;800&display=swap');

@font-face {
    font-family: 'GangwonEducationModuche';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEdu_OTFLightA.woff') format('woff');
    font-weight: 300;
    font-display: swap;
}

@font-face {
    font-family: 'GangwonEducationModuche';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEdu_OTFBoldA.woff') format('woff');
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: "writingSnippetFont";
    src: url('https://assets.codepen.io/1633505/Novecentosanswide-Light.otf');
}

:root {
    --font-kr: 'GangwonEducationModuche';
    --font-cor: "Cormorant", serif;
    --font-life: "Life Savers", serif;
    --font-cal: "Caladea", serif;
    --font-great: "Great Vibes", cursive;
    --font-apple: "Homemade Apple", cursive;

    --color-main: #2c2d66;
    --color-subR: #A73F40;
    --color-subG: #7c7719;
    --color-bg: #F6F5F3;
}

/* 기존 전체 커서 숨기기 대신 */
* {
    cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="5" height="5"><circle cx="2.5" cy="2.5" r="2.5" fill="pink" fill-opacity="0.2"/></svg>') 2 2, auto;
}


.cursor {
    width: 20px;
    height: 20px;
    background: url('../icon/cursor_pencil.png') no-repeat center center / contain;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
    pointer-events: none;
    text-align: center;
    z-index: 9999;
}

.cursor.hover {
    background: url('../icon/cursor_magnifyingGlass.png') no-repeat center center / contain;
}

.cursor.hover::after {
    content: 'hover!';
    font-size: 13px;
    position: absolute;
    top: 20px;
    left: -5px;
}

html {
    font-size: 62.5%;
    /* 1rem = 10px */
}

body {
    width: 100%;
    min-width: 1600px;
    background-color: var(--color-bg);
    color: var(--color-main);
}

/* ################ 헤더 ################ */
nav {
    display: flex;
    flex-wrap: wrap;
    position: fixed;
    z-index: 999;
    position: fixed;
    top: 0;
    right: 100px;
}

text {
    fill: var(--color-main);
    font-family: "Life Savers", serif;
    font-weight: 800;
    font-style: normal;
    font-size: 2.8rem;
}

nav path {
    stroke: var(--color-subG);
    stroke-width: 4px;
    fill: none;
    stroke-linecap: round;
}

@media (max-width: 1100px) {
    nav {
        display: none;
    }
}

/* ################ 푸터 ################ */
.footer {
    width: 100%;
    height: 677px;
    background: url('../img/footer_bg.webp') center center no-repeat;
    background-size: cover;
    /* position: relative; */
}

.footer .inner {
    max-width: 1764px;
    width: calc(100% - 80px);
    height: 100%;
    margin: 0 auto;
    position: relative;
}

.footer .text_wrap {
    display: flex;
    gap: 5rem;
    align-items: center;
    position: absolute;
    bottom: 6.5rem;
    left: 0;
}

.footer .text_wrap .title {
    width: 70rem;
    height: 32rem;
}

.footer .text_wrap .contact_wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.footer .text_wrap .contact_wrap .pdf_dwn a {
    font-family: var(--font-kr);
    font-size: 20px;
    font-weight: 900;
    color: var(--color-subR);
    background-color: var(--color-bg);
    padding: 10px 20px;
    border: 1px solid var(--color-subR);
    border-radius: 50px;
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
}

.footer .text_wrap .contact_wrap .pdf_dwn a p {
    margin-bottom: -7px;
}

.pdf_dwn a::after {
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    background: url('../icon/icon_download_R.png') no-repeat center/contain;
    transition: all 0.3s ease;
}

.pdf_dwn a:hover::after {
    background: url('../icon/icon_download_W.png') no-repeat center/contain;
}

.footer .text_wrap .contact_wrap .pdf_dwn a:hover {
    background-color: var(--color-subR);
    color: var(--color-bg);
}

.footer .text_wrap .contact_wrap .contact {
    display: flex;
    gap: 1.8rem;
    align-items: center;
}

.footer .text_wrap .contact_wrap .contact img {
    width: 150px;
}

.footer .text_wrap .contact_wrap .contact ul {
    display: flex;
    flex-direction: column;
    gap: 1.7rem;
}

.footer .text_wrap .contact_wrap .contact ul li {
    font-family: var(--font-life);
    font-size: 20px;
    font-weight: 300;
    display: flex;
    align-items: center;
}

.footer .text_wrap .contact_wrap .contact ul li b {
    width: 9rem;
    font-weight: 900;
}

.footer .text_wrap .contact_wrap .contact ul li:last-child a {
    border: 1px dashed;
    border-radius: 50px;
    padding: 5px 8px;
    transition: all 0.3s ease;
}

.footer .text_wrap .contact_wrap .contact ul li:last-child a:hover {
    background-color: #d0d7e9;
}

.footer .deco1 {
    width: 300px;
    position: absolute;
    right: 13rem;
    top: 9rem;
    transform: rotate(-18deg);
}

.footer .deco2 {
    width: 180px;
    position: absolute;
    right: 0;
    top: 33rem;
    transform: rotate(-52deg);
}

.footer img {
    width: 100%;
    display: block;
}