@charset "utf-8";
@import url('reset.css');
@import url('https://fonts.googleapis.com/css2?family=Caladea:ital,wght@0,400;0,700;1,400;1,700&family=Cormorant:ital,wght@0,300..700;1,300..700&family=Great+Vibes&family=Homemade+Apple&family=Life+Savers:wght@400;700;800&display=swap');

@font-face {
    font-family: 'GangwonEducationModuche';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEdu_OTFLightA.woff') format('woff');
    font-weight: 300;
    font-display: swap;
}

@font-face {
    font-family: 'GangwonEducationModuche';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEdu_OTFBoldA.woff') format('woff');
    font-weight: 700;
    font-display: swap;
}

/* font-family: "Life Savers", serif;
   font-weight: 400, 700, 800; */
/* font-family: "Caladea", serif;
   font-weight: 400, 700, 800; */
/* font-family: "Great Vibes", cursive; */
/* font-family: "Cormorant", serif; */
/* font-family: "Homemade Apple", cursive; */
/* font-family: 'GangwonEducationModuche'; */