@charset "utf-8";

/* ################ 메인 비주얼 ################ */
.main_visual {
    width: 100%;
    height: 100vh;
    background: url('../img/background.webp') center center no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    align-items: center;
}

.main_visual .inner {
    width: 83.07%;
    height: 80vh;
    max-width: 1595px;
    margin: 0 auto;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    position: relative;
}

.main_visual .inner .title,
.footer .text_wrap .title {
    display: flex;
    align-items: end;
    margin: 0;
}

.title .p-style,
.p-style-footer {
    font-family: var(--font-great);
    font-size: 25rem;
}

.title .o-style,
.o-style-footer {
    font-family: var(--font-cor);
    font-size: 18.7rem;
    font-weight: 500;
    margin-left: -3rem;
}

.o-style-footer {
    margin-left: 0;
}

/* 커서 */
.typing {
    border-right: 3px solid #000;
    animation: cursor .4s infinite;
}

@keyframes cursor {
    0% {
        border-color: transparent;
    }

    100% {
        border-color: #000;
    }
}

.main_visual .inner .deco1 {
    width: 21.8rem;
    position: absolute;
    bottom: 40rem;
    right: 0;
    transform: rotate(320deg);
}

.main_visual .inner .deco1 img {
    width: 100%;
    display: block;
}

/* ####### 메인 편지 ####### */
.envelopeHolder {
    text-align: justify;
    width: 500px;
    height: 671px;
    overflow: hidden;
    background-image: url('https://assets.codepen.io/1633505/specialLetter.png');
    position: relative;
    bottom: 0;
    left: 0;
}

.insideLetterHolder {
    position: absolute;
    background-image: url('https://assets.codepen.io/1633505/insidePaper.png');
    bottom: 190px;
    width: 424px;
    height: 212px;
    left: 38px;
    transition: all 0.9s;
    overflow: hidden;
}

.topLetterHolder {
    position: absolute;
    bottom: 0;
    width: 500px;
    height: 364px;
    background-image: url('https://assets.codepen.io/1633505/topLetterHolder.png');
}

.envelopeHolder:hover .insideLetterHolder {
    height: 556px;
    z-index: 9;
    bottom: 10px;
}

.insideLetterScroll {
    font-family: 'writingSnippetFont';
    text-align: justify;
    font-size: 10px;
    margin: 31px 38px;
    line-height: 21px;
    height: 488px;
    overflow: auto;
}



/* ################ 섹션1 ################ */
#section1 {
    height: 100vh;
    background: url('../img/sec-01_bg.png') center no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 아스키 아트 */
.ascii img {
    display: block;
    position: absolute;
    opacity: 40%;
}

.ascii1 {
    width: 32rem;
    transform: rotate(-10deg);
    top: 7rem;
    left: 22rem;
}

.ascii2 {
    width: 32rem;
    transform: rotate(-17deg);
    bottom: 6rem;
    right: 17rem;
}

.ascii3 {
    width: 19.5rem;
    bottom: 12rem;
    left: 9rem;
}

.ascii4 {
    width: 20rem;
    top: 27rem;
    right: 10rem;
}

.ascii5 {
    width: 20rem;
    transform: rotate(-10deg);
    top: 12rem;
    left: 45rem;
    z-index: 11;
}

/* 레이스 */
#section1::before {
    content: '';
    width: 100%;
    height: 120px;
    background: url('../img/lace.png') repeat-x center;
    position: absolute;
    top: 0;
    left: 0;
}

#section1 .card {
    display: block;
    padding: 6rem 3.5rem;
    border-radius: 30px;
    background-color: var(--color-bg);
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.25);
    margin: 0 auto;
}

#section1 .card .inner {
    display: flex;
    gap: 3rem;
}

#section1 .card .inner .my {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

#section1 .card .inner .my .my-01 {
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
}

#section1 .card .inner .my .my-01 .idpic {
    width: 18.5rem;
    aspect-ratio: 3/4;
    object-fit: cover;
    display: block;
    border-radius: 10px;
}

#section1 .card .inner .my .my-01 .resume_btn a {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    width: 14rem;
    height: 4rem;
    border: 1px solid var(--color-subG);
    border-radius: 10px;
    background-color: #ffffff;
    color: var(--color-subG);
    transition: all 0.3s ease;
}

#section1 .card .inner .my .my-01 .resume_btn a:hover {
    background-color: rgb(from var(--color-subG) r g b / 0.2);
}

#section1 .card .inner .my .my-01 .resume_btn p {
    font-family: var(--font-kr);
    font-size: 2rem;
    font-weight: 700;

    margin-top: 5px;
}

#section1 .card .inner .my .my-01 .resume_btn img {
    width: 2.4rem;
    height: 2.4rem;
    display: block;
}

#section1 .card .inner .my .my-02 {
    display: flex;
    flex-direction: column;
    gap: 9px;
}

#section1 .card .inner .my .my-02 .personal {
    display: flex;
    gap: 10px
}

#section1 .card .inner .my .my-02 .personal b {
    width: 5.8rem;
    font-family: var(--font-life);
    font-size: 1.8rem;
    font-weight: 800;
}

#section1 .card .inner .my .my-02 .personal p {
    font-family: var(--font-kr);
    font-size: 1.8rem;
    font-weight: 700;
}

#section1 .card .inner .info {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

#section1 .card .inner .info .info-01 {
    display: flex;
    gap: 30px;
}

#section1 .card .inner .info .item1 {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

#section1 .card .inner .info .item2 {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

#section1 .card .inner .info .item2 .icon_wrap {
    display: flex;
    flex-wrap: wrap;
    gap: 15px 20px;
    width: calc(3.6rem * 4 + 2rem * 3);
}

#section1 .card .inner .info .item2 .icon_wrap img {
    width: 3.6rem;
    height: 3.6rem;
    object-fit: cover;
    display: block;
    transition: all 0.2s ease;
}

#section1 .card .inner .info .item2 .icon_wrap img:hover {
    transform: scale(1.2);
}

#section1 .card .inner .info h2 {
    font-family: var(--font-apple);
    font-size: 3rem;
    color: var(--color-subR);
}

#section1 .card .inner .info .text_wrap {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

#section1 .card .inner .info .text_wrap .text {
    display: flex;
    align-items: center;
    gap: 16px;
}

#section1 .card .inner .info .text_wrap .text p {
    font-family: var(--font-cal);
    font-size: 2rem;
}

#section1 .card .inner .info .text_wrap .text .inst {
    display: flex;
    align-items: baseline;
    gap: 12px;
    font-family: var(--font-kr);
}

#section1 .card .inner .info .text_wrap .text .inst b {
    font-size: 2rem;
    font-weight: 700;
}

#section1 .card .inner .info .text_wrap .text .inst span {
    font-size: 1.6rem;
    font-weight: 300;
}

/* 마키효과 */
.marquee {
    width: 100%;
    height: 5rem;
    overflow: hidden;
    background-color: rgb(from var(--color-subG) r g b / 0.7);
    border-top: 2px solid var(--color-subR);
    border-bottom: 2px solid var(--color-subR);
    color: var(--color-bg);
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
}

.marquee .marquee-track {
    display: flex;
    white-space: nowrap;
    gap: 5rem;
    font-family: var(--font-cal);
    font-size: 2rem;
    line-height: 5rem;
    transform: translateX(0);
    animation: marqueeMove 80s linear infinite;
}

@keyframes marqueeMove {
    0% {
        transform: translateX(-50%);
    }

    100% {
        transform: translateX(0);
    }
}



/* ################ 섹션2,4 ################ */
.gs_reveal {
    opacity: 0;
    visibility: hidden;
    will-change: transform, opacity;
}

.section .inner {
    max-width: 1764px;
    width: calc(100% - 80px);
    margin: 0 auto;
}

.section .inner .category {
    display: flex;
    align-items: baseline;
    justify-content: flex-start;
    gap: 0;
    margin-top: 100px;
    position: relative;
    bottom: -35px;
}

#section2 .inner .list .category,
#section4 .inner .list .category {
    margin-top: 0;
    bottom: -60px;
}

#section2 .inner .category p:first-child,
#section4 .inner .category p:first-child {
    font-family: var(--font-great);
    font-size: 10rem;
}

#section2 .inner .category p:last-child,
#section4 .inner .category p:last-child {
    font-family: var(--font-cor);
    font-size: 6rem;
    font-weight: 600;
}

#section2 .inner .list,
#section4 .inner .list {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

#section2 .inner .list .item,
#section4 .inner .list .item {
    height: 80vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4rem;
}

#section2 .inner .list .item.item.daonjae {
    border-top: dashed 3px rgb(from var(--color-subG) r g b / 0.5);
    border-bottom: dashed 3px rgb(from var(--color-subG) r g b / 0.5);
}

/* 목업 이미지 */
#section2 .item .image_wrap,
#section4 .item .image_wrap {
    position: relative;
}

#section2 .item .image_wrap .mockup,
#section4 .item .image_wrap .mockup {
    background: url('../img/cine21_pc-mockup.png') center / 100% 100% no-repeat;
    width: 650px;
    height: 521px;
    position: relative;
    top: -39px;
    overflow: hidden;
}

#section2 .item.daonjae .image_wrap .mockup {
    background: url('../img/daonjae_pc-mockup.png') center / 100% 100% no-repeat;
}

#section2 .item.sealife .image_wrap .mockup {
    background: url('../img/sealife_pc-mockup.png') center / 100% 100% no-repeat;
}

/* 섹션4 모작 목업 */
#section4 .item.socar .image_wrap .mockup {
    background: url('../img/socar_pc-mockup.png') center / 100% 100% no-repeat;
}

#section4 .item.moneytree .image_wrap .mockup {
    background: url('../img/moneytree_mockup.png') center / 100% 100% no-repeat;
}

#section2 .item .image_wrap .mockup .mockup_img,
#section4 .item .image_wrap .mockup .mockup_img {
    display: none;
    width: 90%;
    position: absolute;
    top: 31px;
    left: 33px;
    overflow: hidden;
    z-index: 10;
}

#section2 .item .image_wrap .mockup:hover .mockup_img,
#section4 .item .image_wrap .mockup:hover .mockup_img {
    display: block;
}

#section2 .item .image_wrap .mockup2,
#section4 .item .image_wrap .mockup2 {
    width: 400px;
    position: absolute;
    bottom: -40px;
    right: -270px;
    z-index: 100;
}

#section2 .item.daonjae .image_wrap .mockup2 {
    width: 200px;
    right: -120px;
}

#section2 .item .image_wrap img,
#section4 .item .image_wrap img {
    width: 100%;
    object-fit: cover;
}

/* 컨텐츠 */
.section .item .content {
    padding: 5rem;
    max-width: 640px;
    border-radius: 20px;
    border: 1px solid var(--color-subR);
}

.section .item .content .content_inner {
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.section .item .content .content_inner .top_wrap {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    align-items: flex-start;
}

.section .item .content .content_inner .top_wrap .title {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    color: var(--color-subR);
    margin: 0;
}

.section .item .content .content_inner .top_wrap .title h4 {
    font-family: var(--font-cor);
    font-size: 7rem;
    font-weight: 700;
}

.section .item .content .content_inner .top_wrap .title strong {
    font-family: var(--font-kr);
    font-size: 2rem;
    font-weight: 700;
}

.section .item .content .content_inner .top_wrap ul {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}

.section .item .content .content_inner .top_wrap ul li {
    display: flex;
    align-items: end;
    gap: 1.8rem;
    font-family: var(--font-kr);
    font-size: 2.2rem;
    font-weight: 300;
}

.section .item .content .content_inner .top_wrap ul li b {
    width: 9.8rem;
    font-family: var(--font-cor);
    font-size: 2.4rem;
    font-weight: 700;
}

.section .item .content .content_inner .top_wrap p {
    font-family: var(--font-kr);
    font-size: 2rem;
    font-weight: 700;
    line-height: 3.5rem;
}

.section .item .content .content_inner .btn_wrap {
    display: flex;
    gap: 1.6rem;
    justify-content: flex-start;
}

.section .item .content .content_inner .btn_wrap a {
    height: 7.5rem;
    font-family: var(--font-cor);
    font-size: 3rem;
    font-weight: 700;
    border: 1px solid var(--color-subR);
    border-radius: 20px;
    color: var(--color-subR);
    padding: 0 1.5rem;
    height: 100%;
    line-height: 7.5rem;
    display: block;
    white-space: nowrap;
    transition: all 0.3s ease;
}

.section .item .content .content_inner .btn_wrap a:hover {
    background-color: rgb(from var(--color-subR) r g b / 0.2);
}


.section .item .content .content_inner .btn_wrap a:first-child {
    background: var(--color-subR);
    color: var(--color-bg);
}

.section .item .content .content_inner .btn_wrap a:first-child:hover {
    background-color: #791719;
}

.section .item .content .content_inner .btn_wrap img {
    width: 7.5rem;
    height: 7.5rem;
    display: block;
}


/* ################ 섹션3 ################ */
#section3 {
    position: relative;
    padding: 100px 0;
}

#section3::before {
    content: '';
    width: 100%;
    height: 89px;
    background: url('../img/lace2.png') repeat-x center;
    position: absolute;
    top: 0;
    left: 0;
}

#section3::after {
    content: '';
    width: 100%;
    height: 89px;
    background: url('../img/lace2.png') repeat-x center;
    position: absolute;
    bottom: 0;
    left: 0;
}

#section3 .inner {
    display: flex;
    flex-direction: column;
    gap: 8rem;
    padding: 70px 0;
}

#section3 .inner .mobile {
    position: relative;
}

#section3 .inner .mobile.eql {
    margin-left: auto;
}

#section3 .inner .mobile .category {
    display: flex;
    align-items: center;
    color: rgb(from var(--color-main) r g b / 0.5);
    margin-top: 0;
    z-index: -1;
}

#section3 .inner .mobile.eql .category {
    justify-content: flex-end;
}

#section3 .inner .mobile .category p:first-child {
    font-family: var(--font-great);
    font-size: 30rem;
}

#section3 .inner .mobile .category p:last-child {
    font-family: var(--font-cor);
    font-size: 100px;
    font-weight: 600;
}

#section3 .inner .mobile .item {
    display: flex;
    align-items: center;
    gap: 10rem;
    margin-top: -8rem;
}

#section3 .inner .mobile.eql .item {
    flex-direction: row-reverse;
}

#section3 .inner .mobile .item .image_wrap {}

#section3 .inner .mobile .item .image_wrap img {}

#section3 .inner .mobile .item .content {
    background-color: var(--color-bg);
}



/* ################ 섹션4 ################ */
#section4 {
    position: relative;
}



/* ################ 섹션5 ################ */
#section5 {
    padding: 150px 0;
}

#section5 .inner {
    width: 1464px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 5rem;
    align-items: center;
}

#section5 .inner h5 {
    font-family: var(--font-cal);
    font-size: 6rem;
    color: var(--color-subG);
    text-align: center;
}

#section5 .inner .design_wrap {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 3rem;
}

#section5 .inner .design_wrap .list {
    width: 100%;
    display: flex;
    gap: 3rem;
    max-height: 265px;
}

#section5 .inner .design_wrap .list.long {
    max-height: 370px;
    overflow-x: hidden;
    overflow-y: hidden;
}

#section5 .inner .design_wrap .list a {
    display: block;
    width: 265px;
    height: 265px;
    overflow: hidden;
    border-radius: 10px;
}

#section5 .inner .design_wrap .list.long a {
    flex: 0 0 auto;
    height: 370px;
    scroll-snap-align: start;
}

#section5 .inner .design_wrap .list a img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}